body {
  background-color: rgb(61, 14, 57);
  color: white;
}

.answerButton {
  background-color: rgb(53, 50, 50);
  color: white;
  width: 200px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  border-color: rgb(161, 158, 170);
  border-radius: 5px;
  border-width: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.answerButton:hover {
  transform: translateX(50%);
  transform: scale(1.05);
  border-color: rgb(62, 155, 74);
}

.nextButton {
  background-color: rgb(53, 50, 50);
  color: white;
  width: 75px;
  height: 35px;
  cursor: pointer;
  border-color: rgb(161, 158, 170);
  border-radius: 5px;
  border-width: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 10px;
  margin-left: 10px;
}

.nextButton:hover {
  transform: scale(1.05);
}

.question {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:20px;
}

#audio {
  margin: auto;
}

#container {
  margin: auto;
  max-width: 500px;
  background-color: rgb(102, 25, 109);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  margin: auto;
  padding:auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}